/networkStudy/Datasets
/networkStudy/.ipynb_checkpoints
/networkStudy/Datasets.rar


/predictService/node_modules
/predictService/__pycache__
/frontService/__pycache__
/frontService/BeegilantApp/__pycache__
