.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    
}
.contenedor-side{
	margin-top: 0px;
    padding: 0;
	background-color: #696969;
	height: 500px;
}
h1 {
  text-align: center;
}
li {
  text-align: center;
}
.header-nav{
	background-color: #FFA500;
	height: 80px;
}