{% extends 'base/dashboard.html' %}



{% block title %}
<title>Beegilant</title>
{% endblock %}
{% load static %}

{% block titulo %}
<h2>Registros</h2>
{% endblock %}

{% block content %}
<h2> notificaciones</h2>

<h3> Video 1 ; Fecha: 5/9/2019-12:48 ; Nivel: 0.508338451385498</h3>
<video controls width="320" height="208">
        <source src="{% static 'registros/1/1.mp4' %}" type="video/mp4">
        Tu navegador no implementa el elemento <code>video</code>.
    </video>
<h3> Video 2 ; Fecha: 5/9/2019-12:52 ; Nivel: 0.5462509989738464</h3>
<video controls width="320" height="208">
        <source src="{% static 'registros/2/2.mp4' %}" type="video/mp4">
        Tu navegador no implementa el elemento <code>video</code>.
    </video>
<h3> Video 3 ; Fecha: 5/9/2019-12:52 ; Nivel: 0.5387465357780457</h3>
<video controls width="320" height="208">
        <source src="{% static 'registros/3/3.mp4' %}" type="video/mp4">
        Tu navegador no implementa el elemento <code>video</code>.
    </video>
<h3> Video 4 ; Fecha: 5/9/2019-12:52 ; Nivel: 0.5145089030265808</h3>
<video controls width="320" height="208">
        <source src="{% static 'registros/4/4.mp4' %}" type="video/mp4">
        Tu navegador no implementa el elemento <code>video</code>.
    </video>
<h3> Video 5 ; Fecha: 5/9/2019-12:52 ; Nivel: 0.5248066782951355</h3>
<video controls width="320" height="208">
        <source src="{% static 'registros/5/5.mp4' %}" type="video/mp4">
        Tu navegador no implementa el elemento <code>video</code>.
    </video>
<h3> Video 6 ; Fecha: 5/9/2019-12:52 ; Nivel: 0.5405685305595398</h3>
<video controls width="320" height="208">
        <source src="{% static 'registros/6/6.mp4' %}" type="video/mp4">
        Tu navegador no implementa el elemento <code>video</code>.
    </video>
<h3> Video 7 ; Fecha: 5/9/2019-12:53 ; Nivel: 0.5378480553627014</h3>
<video controls width="320" height="208">
        <source src="{% static 'registros/7/7.mp4' %}" type="video/mp4">
        Tu navegador no implementa el elemento <code>video</code>.
    </video>
<h3> Video 8 ; Fecha: 5/9/2019-12:53 ; Nivel: 0.5454604029655457</h3>
<video controls width="320" height="208">
        <source src="{% static 'registros/8/8.mp4' %}" type="video/mp4">
        Tu navegador no implementa el elemento <code>video</code>.
    </video>
{% endblock %}