{% extends 'base/base.html' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script>jQuery.noConflict();</script>


{% block title %}
<title>Beegilant</title>
{% endblock %}

{% block content %}

    {% load staticfiles %}
    {% block jsincludes %}
        <script src="{% static "Scripts/Socketconf.js" %}"></script>
    {% endblock %}
<h2>El Gráfico va aqu</h2>
    <canvas id="myChart" width="400" height="400"></canvas>
    <input type="hidden" id="recived" name="recived" value="0">




<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
jQuery('#recived').on('change', function (evt) {
    console.log(evt);
    var valor=jQuery(this).val();
    var tiempo=new Date();
    var hora= tiempo.getHours()+':'+tiempo.getMinutes()+':'+tiempo.getSeconds();

    addData(myChart,hora,valor );


})
jQuery('#boton').click(function (evt) {
    var tiempo=new Date();
    var hora= tiempo.getHours()+':'+tiempo.getMinutes()+':'+tiempo.getSeconds();

    addData(myChart,hora,Math.floor(Math.random() * 100) );

})
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [],
        datasets: [{
            label: '% de Agresión',
            data: [],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
console.log(myChart);

function addData(chart, label, data) {
    chart.data.labels.push(label);
    chart.data.datasets.forEach((dataset) => {
        dataset.data.push(data);
    });
    if(chart.data.labels.length>=20){
        chart.data.labels.shift();
        chart.data.datasets.forEach((dataset) => {
            dataset.data.shift();
        });

    }
    chart.update();
}

function removeData(chart) {
    chart.data.labels.pop();
    chart.data.datasets.forEach((dataset) => {
        dataset.data.pop();
    });
    chart.update();
}

</script>

{%endblock%}