{% extends 'base/dashboard.html' %}



{% block title %}
<title>Beegilant</title>
{% endblock %}

{% block titulo %}
    <a class="navbar-brand" href="">Gráfico de probabilidad de agresión</a>
{% endblock %}

{% block content %}

    {% load staticfiles %}
    {% block jsincludes %}
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="{% static "Scripts/Socketconf.js" %}"></script>

    {% endblock %}
	<canvas id="myChart" style="width:auto; height:200px" ></canvas>
    <input type="hidden" id="recived" name="recived" value="0">
    <input type="hidden" id="alertitas" name="alertitas" value="0">
    <div class="buttons">
        <button class="trigger-push">Trigger Push Notification</button>
      </div>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
		<script src="{% static "Scripts/grafico.js" %}"></script>
    <script>
    $('#alertitas').on('change', function (evt) {
        var el = document.querySelector('.notification');
        var count = Number(el.getAttribute('data-count')) || 0;
        el.setAttribute('data-count', count + 1);
        el.classList.remove('notify');
        el.offsetWidth = el.offsetWidth;
        el.classList.add('notify');
        if(count === 0){
            el.classList.add('show-count');
        }
        console.log(count);
    })
    </script>
    <script src="{% static "Scripts/clientNotif.js" %}"></script>

{%endblock%}